.bienvenidocss {
  text-align: center;
 
  font-size: 25pt;
  font-weight: 700;
  color: #963C8E;
}
.parrafobienvenidacss {
  text-align: center;
 font-weight: 500;
 font-size: 16pt;
  color: black;
}
.cuadro {
    border-style: solid;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-color: #F08616;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cuadro2 {
    border-style: solid;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-color: #0074B8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cuadro:hover{
    border-style: solid;
    background-color: rgb(247, 252, 253);
    border-color: #F08616;
    box-shadow: 10px 3px 2px #F08616;
}
.cuadro2:hover{
    border-style: solid;
    background-color: rgb(247, 252, 253);
    border-color: #0074B8;
    box-shadow: 10px 3px 2px #0074B8;
}

.centraritems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centrarbotones {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.aceptar {
  width: 270px;
  height: 50px;
  font-size: 15pt;
  margin-left: auto;
  margin-right: auto;
  background-color: #0074B8;
  color: white;
  border-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.banner{
  width: 100%;
  height: 100px;

}
.azul{
  color: #0074B8;
}
.naranja{
  text-align: center;
  color: #F08616;
}
.aceptar:hover {
 
  font-size: 16pt;
  margin-left: auto;
  margin-right: auto;
  background-color: #0074B8;
  color: white;
  border-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.imagen{
  width: 150;
  height: 150;
}
.cancelar {
    width: 270px;
    height: 50px;
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaabb1;
    color: white;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
.cancelar:hover {
    width: 270px;
    height: 50px;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    background-color: #aaabb1;
    color: white;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .quitarformato{
    border-color: transparent;
    background-color: transparent;
  }
